body{
    background-color: orange ;
   
}

.logo{
    display: block;
    height: 70px;
	padding-top: 7px;
	padding-left: 14px;
    max-width: 100%;
	max-height: 300px;
	padding-bottom: 5px;
}
.img-fluid{
    padding-top: 90px;
    display: block;
    width: 100%;
	height: 700px;
   }


footer{
    padding-bottom: 10px;
    

   }

 


/* Validaciones */
.error-control {
    border: 1px solid red;
  }
  
  label.error {
    color: red;
    width: 300px;
    font-size: 0.8em;
    margin-top: -5px;
    margin-bottom: 10px;
  }

  .titulosva
  {
      background-color: deepskyblue;
      
  }
  .formulario{
      text-align: center;
      margin-top: 20px;
      border-block-end: 20px
  }

  .rut-error{
    color: red;
    width: 300px;
    font-size: 0.8em;
    margin-top: -5px;
    margin-bottom: 10px;
}