<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href=" {% static 'css/bootstrap.css' %}" >
    <link rel="stylesheet" href=" {% static 'fontawesome/css/all.css' %}" >
    <link rel="stylesheet" href=" {% static 'css/estiloLogin.css' %}" >
    
    <title>Creacion de Listas</title>
</head>
<body>
  
<div class="header  ">
  <nav class="navbar navbar-expand-lg navbar-light fix-top  "   style=" background-color: orange" >
    <a class="navbar-brand" href="{% url 'index'%}">
      <img class="logo" src="../static/img/the-list-logo-212px-LST116157.gif"  alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup4" aria-controls="#navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup4">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link texnav" href="{% url 'index'%}">inicio <span class="sr-only"></span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link texnav" href="{% url 'crearlista' %}">Crear lista de compra <span class="sr-only"></span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link texnav" href="{% url 'tienda' %}">Agregar Tienda<span class="sr-only"></span></a>
        </li>
      </ul>
      <div>
        <ul class="navbar-nav mr-auto">
          {% if user.is_authenticated %}
          <li class="nav-item active">
            <a class="nav-link texnav" href="">{{user.username}}</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link texnav" href="{% url 'CerrarSesion' %}">Cerrar Sesion</a>
          </li>
          {% else %}  
          <li class="nav-item active">
            <a class="nav-link texnav" href="{% url 'login'%}">Iniciar Sesion <span class="sr-only"></span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link texnav"  href="{% url 'registro'%}">Registrarse <span class="sr-only"></span></a>
          </li> 
        </ul>
        {% endif %}
      </div>
    </div>
  </nav>
</div>
<!-- formulario agreagr producto -->
<h1 class="h3 mb-3 " style=" text-align: center">Bienvenido a Su Lista De Compras!!</h1>
<div class="container">
  <div class="row">
    <div class="card card-signin my-5">
      <div class="card-body">
        <div style="align-content: center"> 
          <p>Hay {{ count }} Producto/s en su lista de compras!</p>
          <p>Este es el Total De Su Presupuesto {{ sumaPre }}$</p>
          <p>Este es el Total Real a Pagar {{ sumaTot }}$</p>
          <h2 class="h3 mb-3 ">Ingrese un Nuevo Producto</h1>
        </div >
        <form method="POST" class="form-inline" id="" action="{% url 'CrearProducto'%}">
          <div class="form-label-group mx-sm-2  mb-2">
            {% csrf_token %}
            <label for="">Nombre producto</label>
            <input type="text" name='nombreProd' id="nombreProd" class="form-control" placeholder="nombre producto" required autofocus>
          </div>
          <div class="form-label-group mx-sm-2 mb-2">
            <label for="">Costo presupuestado</label>
            <input type="number" name="costop" id="costop" class="form-control" placeholder="costo presupuestado" >
          </div>
          <div class="form-label-group mx-sm-2 mb-2">
            <label for="">Costo real</label>
            <input type="number" name="costor" id="costor" class="form-control" placeholder="costo real" >
          </div>
          <div class="form-label-group mx-sm-2  mb-2">
            <label for="">Tienda</label>
            <select id="Tienda" name="Tienda" class="form-control" >
            {%for t in Tienda%}
              <option value="{{t.nombreTienda}}">{{t.nombreTienda}}</option>
            {% endfor %} 
            </select>
          </div>
          <div class="form-label-group mx-sm-2 mb-2">
            <label for="">Notas </label>
            <input type="text" name="notas" id="notas" class="form-control" placeholder="notas " >
          </div>
          <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Agregar</button>
        </form>
      </div>
    </div>
  </div>
</div>
  <div class="container">
    <h2>Lista de compras</h2>
    <div class="list-group">
      {%for p in Productos%}
      <LI class="list-group-item list-group-item-action">
        <h2>{{p.nombreProd}}</h2>
          <a  class="list-group-item list-group-item-action">Costo Presupuesto: ${{p.costop}}</a>
          <a  class="list-group-item list-group-item-action">Valor del producto: ${{p.costor}}</a>
          <a  class="list-group-item list-group-item-action">Tienda: {{p.Tienda}}</a>
          <a  class="list-group-item list-group-item-action">Descripcion: {{p.notas}}</a>
          <a class="list-group-item list-group-item-action"> 
            <div class="custom-control  mb-3">
              <input type="checkbox" class="custom-control-input" id="customCheck{{p.id}}">
              <label class="custom-control-label" for="customCheck{{p.id}}">Comprado</label>
            </div> 
          <a class="list-group-item list-group-item-action btn  btn-primary mb-2" href="crearlista/quitar/{{p.id}}" role="button">Quitar producto de la lista </a>
      <br>
      </LI>
      {% endfor %} 
    </div>
  </div>
<br>   
</body>
</html>