<!DOCTYPE html>
<html lang="es-CL">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href=" {% static 'css/bootstrap.css' %}" >
    <link rel="stylesheet" href=" {% static 'fontawesome/css/all.css' %}" >
    <link rel="stylesheet" href=" {% static 'css/estiloLogin.css' %}" >
    <title>Registro Tienda</title>
</head>
<body class="logins">
<div class="header">
    <nav class="navbar navbar-expand-lg navbar-light"   style=" background-color: orange" >
        <a class="navbar-brand" href="{% url 'index'%}">
            <img class="logo" src="../static/img/the-list-logo-212px-LST116157.gif"  alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup1" aria-controls="#navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup1">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link texnav" href="{% url 'index'%}">Inicio <span class="sr-only"></span></a>
                </li>
            </ul>
            <div>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link texnav" href="">{{user.username}}</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link texnav" href="{% url "CerrarSesion" %}">Cerrar Sesion</a>
                    </li>
                </ul>
            </div> 
        </div>
    </nav>
</div>
<br>

<div class="container-fluid carta">
    <div class="row">
        <br>
        {%for t in Tienda%}
            <div class="col-md-2">
                <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{t.nombreTienda}}</h5>
                            <p class="card-text">Raza: {{t.sucursal}}</p>
                            <p class="card-text">Descripcion: {{t.direccion}}</p>
                            <p class="card-text">{{t.region}}</p>
                            <p class="card-text">{{t.comuna}}</p>
                            {% if user.is_authenticated %}
                                <a class="btn btn-lg btn-danger btn-block text-uppercase" href="editarti/eliminar/{{t.id}}" role="button">Eliminar</a>
                            {% endif %}
                        </div>
                </div>
            </div>
        {% endfor %}  
    </div>
</div>






      

        
    <script src="{% static 'js/jquery-3.3.1.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
    <script src="{% static 'js/jquery.georegionalizacion-chile_0.9.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
 
</body>
</html>