<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href=" {% static 'css/bootstrap.css' %}" >
    <link rel="stylesheet" href=" {% static 'fontawesome/css/all.css' %}" >
    <link rel="stylesheet" href=" {% static 'css/estilo.css' %}" >
    
    <title>BuyersList</title>
</head>
<body>
        
  
<div class="header  ">
  <nav class="navbar navbar-expand-lg navbar-light fixed-top  "   style=" background-color: orange" >
    <a class="navbar-brand" href="{% url 'index'%}">
      <img class="logo" src="../static/img/the-list-logo-212px-LST116157.gif"  alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="#navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link texnav" href="{% url 'index'%}">Inicio <span class="sr-only"></span></a>
        </li>
        {% if request.user.is_staff %}
        <li class="nav-item active">
          <a class="nav-link texnav" href="{% url 'editarti' %}">Editar Tiendas <span class="sr-only"></span></a>
        </li>
        {% else %}
        <li class="nav-item active">
          <a class="nav-link texnav" href="{% url 'crearlista' %}">Crear lista de compra <span class="sr-only"></span></a>
        </li>
        
        <li class="nav-item active">
          <a class="nav-link texnav" href="{% url 'tienda' %}">Agregar Tienda<span class="sr-only"></span></a>
        </li>
        {% endif %} 
      </ul>
      <div>
        <ul class="navbar-nav mr-auto">
          {% if user.is_authenticated %}
          <li class="nav-item active">
            <a class="nav-link texnav" href="">{{user.username}}</a>
          </li>

          
          <li class="nav-item active">
            <a class="nav-link texnav" href="{% url 'CerrarSesion' %}">Cerrar Sesion</a>
          </li>
          {% else %}  
          <li class="nav-item active">
            <a class="nav-link texnav" href="{% url 'login'%}">Iniciar Sesion <span class="sr-only"></span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link texnav"  href="{% url 'registro'%}">Registrarse <span class="sr-only"></span></a>
          </li>
          {% endif %}
        </ul>
      </div> 
    </div>
  </nav>
</div>
    <img class="img-fluid" src="../static/img/intro.jpg" alt="">

<div class="container header">
  <h1>Bienvenido al Mundo de la Compra Asistida!</h1> 
  <p> Con nuestra pagina web usted será capaz de crear una lista de compras que facilite el orden de sus gastos y mejore su economia!</p> 
  <p> Para esto usted debe crear su perfil dentro de nuestra pagina, y luego crear su propia lista. Esta lista sera capaz de decir cuanto es lo que debe pagar, donde lo va a pagar y cuanto piensa pagar por el producto.
  </p>
  <p>
    Es asi de sencillo, asi que unete a nosotros y registrate hoy!
  </p>
</div>

<footer class ="fix-bottom" style=" text-align: center ;background-color: black">
  <p class="mt-5 mb-3 text-muted" style=" padding-top: 20px;">&copy; 2017-2018</p>
</footer>

  <script src="{% static 'js/jquery-3.3.1.js' %}"></script>
  <script src="{% static 'js/popper.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'fontawesome/js/all.js' %}"></script>
  <script src="{% static 'js/app.js' %}"></script>
 
</body>
</html>