<!DOCTYPE html>
<html lang="es-CL">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href=" {% static 'css/bootstrap.css' %}" >
    <link rel="stylesheet" href=" {% static 'fontawesome/css/all.css' %}" >
    <link rel="stylesheet" href=" {% static 'css/fresco/fresco.css' %}" >
      <link rel="stylesheet" href=" {% static 'css/estiloLogin.css' %}" >
    <title>Login</title>
</head>
<body class=" logins">
<div class="header  ">
  <nav class="navbar navbar-expand-lg navbar-light fix-top  "   style=" background-color: orange" >
    <a class="navbar-brand" href="{% url 'index'%}">
      <img class="logo" src="../static/img/the-list-logo-212px-LST116157.gif"  alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup3" aria-controls="#navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup3">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link texnav" href="{% url 'index'%}">Inicio <span class="sr-only"></span></a>
          </li>
        </ul>
      <div>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link texnav"  href="{% url 'registro'%}">Registrarse <span class="sr-only"></span></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>  
<!-- form -->
<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <div style="align-content: center"> 
            <h1 class="h3 mb-3 ">Iniciar Sesión</h1>
          </div >
          <form method="POST" class="form-signin" id="" action="{% url 'iniciar'%}">
            <div class="form-label-group">
            {% csrf_token %}
              <label for="inputEmail">  Correo electrico</label>
              <input type="email" name='correo' id="correo" class="form-control" placeholder="Correo electrico" required autofocus>
            </div>
            <div class="form-label-group">
              <label for="inputPassword">  Contraseña</label>
              <input type="password" name="claveUsu" id="claveUsu" class="form-control" placeholder="Contraseña" required>
            </div>
            <br>
            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Iniciar sesion</button>
              <a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a>
              <a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a><br>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="{% static 'js/jquery-3.3.1.js' %}"></script>
<script src="{% static 'js/jquery.validate.js' %}"></script>
<script src="{% static 'js/jquery.georegionalizacion-chile_0.9.js' %}"></script>
<script src="{% static 'js/jquery.rut.chileno.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>

</body>
</html>