<!DOCTYPE html>
<html lang="es-CL">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% load static %}
  <link rel="stylesheet" href=" {% static 'css/bootstrap.css' %}" >
  <link rel="stylesheet" href=" {% static 'fontawesome/css/all.css' %}" >
  <link rel="stylesheet" href=" {% static 'css/estiloLogin.css' %}" >
  <title>Registro</title>
</head>
<body class="logins">
<div class="header">
  <nav class="navbar navbar-expand-lg navbar-light fix-top  "   style=" background-color: orange" >
    <a class="navbar-brand" href="{% url 'index'%}">
      <img class="logo" src="../static/img/the-list-logo-212px-LST116157.gif"  alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="#navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link texnav" href="{% url 'index'%}">Inicio <span class="sr-only"></span></a>
        </li>
      </ul>
      <div>
        <ul class="navbar-nav mr-auto"> 
          <li class="nav-item active">
            <a class="nav-link texnav" href="{% url 'login'%}">Iniciar Sesion <span class="sr-only"></span></a>
          </li>
        </ul>
      </div>
    </div> 
  </nav>
</div>  

<!-- form -->
<div class="container">
  <div class="row">
    <div class="col-lg-10 col-xl-9 mx-auto">
      <div class="card card-signin flex-row my-5">
        <div class="card-body">
          <h1 style="text-align:center" >Bienvenido Nuevos Usuarios</h1>
          <h2 style="text-align:center">Por favor complete los datos para comenzar:</h2>
          <form method="POST" class="info formulario " style="text-align: left" id="formulariousers" action="{% url 'CrearUsuarios' %}" >
            <div>
            {% csrf_token %}
              <label for="">Ingrese su correo electónico:</label>
              <input type="email"  class="form-control" required name="correo" id="" placeholder="example@example.com">
            </div>  
            <div>
              <label  for="">Ingrese su RUN:</label>
              <input type="text"class="form-control" required class="input_rut" name="run">
            </div>     
            <div>
              <label for="">Ingrese Su Nombre Completo:</label>
              <input type="text" class="form-control" required  name="nombre" id="soloLetras" placeholder="Maximiliano Gonzalez" >              
            </div>   
            <div>                     
              <label for="">Ingrese su contraseña:</label>
              <input type="password" class="form-control" required  name="claveUsu" id="" placeholder=" " >
            </div>
            <div>
              <label for="">Ingrese su Fecha nacimiento:</label>
              <input type="date" class="form-control" required name="fechaNac" max="2001-09-08">
            </div>
            <div>
              <label for="">Ingrese su Numero de Telefono:</label>
              <input type="number" class="form-control" name="fono"  id="" placeholder=" XXXX-XXXX">  
            </div>
            <label>Región: </label>
              <select id="region" name="region" class="form-control" required>
                <option value="">Seleccione</option>
              </select>
            <label>Comuna: </label>
              <select id="comuna" name="comuna" class="form-control" required>
                <option value="">Seleccione</option>
              </select>
                <hr>
                <input class="btn btn-primary form-control" type="submit" value="Registar">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="{% static 'js/jquery-3.3.1.js' %}"></script>
<script src="{% static 'js/jquery.validate.js' %}"></script>
<script src="{% static 'js/jquery.georegionalizacion-chile_0.9.js' %}"></script>
<script src="{% static 'js/jquery.rut.chileno.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>

</body>
</html>