<!DOCTYPE html>
<html lang="es-CL">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href=" {% static 'css/bootstrap.css' %}" >
    <link rel="stylesheet" href=" {% static 'fontawesome/css/all.css' %}" >
    <link rel="stylesheet" href=" {% static 'css/estiloLogin.css' %}" >
    <title>Registro Tienda</title>
</head>
<body class="logins">
<div class="header">
    <nav class="navbar navbar-expand-lg navbar-light"   style=" background-color: orange" >
        <a class="navbar-brand" href="{% url 'index'%}">
            <img class="logo" src="../static/img/the-list-logo-212px-LST116157.gif"  alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup2" aria-controls="#navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup2">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link texnav" href="{% url 'index'%}">Inicio <span class="sr-only"></span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link texnav" href="{% url 'crearlista' %}">Crear lista de compra <span class="sr-only"></span></a>
                </li>
              
                <li class="nav-item active">
                    <a class="nav-link texnav" href="{% url 'tienda' %}">Agregar Tienda<span class="sr-only"></span></a>
                </li>
            </ul>
            <div>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link texnav" href="">{{user.username}}</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link texnav" href="{% url "CerrarSesion" %}">Cerrar Sesion</a>
                    </li>
                </ul>
            </div> 
        </div>
    </nav>
</div>

<!-- form -->
<div class="container">
  <div class="row">
    <div class="col-lg-10 col-xl-9 mx-auto">
      <div class="card card-signin flex-row my-5">

        <div class="card-body">
          <h1 style="text-align:center" >Bienvenido</h1>
          <h2 style="text-align:center">Por favor complete los datos para ingresar una nueva tienda:</h2>

          <form method="POST" class="info formulario " style="text-align: left" id="formulariousers" action="{% url 'CrearTienda' %}">
            <div>
            {% csrf_token %}
                <label for="">Ingrese el Nombre de la Tienda:</label>
                <input type="text"  class="form-control" required name="nombreTienda" id="" placeholder="Ripley">
            </div>
            <div>
                <label  for="">Ingrese el Nombre de la Sucursal:   </label>
                <input type="text"class="form-control" name="sucursal" id="" placeholder="Plaza Norte">
            </div>
            <div>
                <label for="">Ingrese la Direccion:</label>
                <input type="text" class="form-control" required  name="direccion" id="" placeholder="Calle Nueva 123" >                   
            </div>
            <label>Región: </label>
              <select id="region" name="region" class="form-control" required>
                <option value="">Seleccione</option>
              </select>
            <label>Comuna: </label>
              <select id="comuna" name="comuna" class="form-control" required>
                <option value="">Seleccione</option>
              </select>
                <hr>
                <input class="btn btn-danger form-control" type="reset" value="Limpiar">
                <hr>
                <input class="btn btn-primary form-control" type="submit" value="Registar Tienda">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
      
<footer class="fix-bottom" style=" padding-bottom:opx ; text-align: center ;background-color: black">
        <p class="mt-5 mb-3 text-muted" style=" padding-top: 20px;">&copy; 2017-2018</p>
</footer>
        
    <script src="{% static 'js/jquery-3.3.1.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
    <script src="{% static 'js/jquery.georegionalizacion-chile_0.9.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
 
</body>
</html>